<div class="side-nav">
  <div class="nav-links">
    <a href="https://twitter.com/fdsero">
      <img src='/assets/images/Twitter_Logo_Blue.png' style="width: 15%;">
    </a>

    <a href="https://www.kickstarter.com">
      <img src='/assets/images/kickstarter-logo.png' style="width: 12%">
    </a>

    <a href="https://skyremnant.wordpress.com/">
      <img src='/assets/images/skyremnant_logo_mid.png' style="width: 25%">
    </a>
  </div>
</div>
