.trailer-image-group {
  height: 2000px;
  width: 100%;
  background-color: black;
  margin-top: 56%;
  position: absolute;

  @include mobile {
    height: 1200px;
  }
}

.video-box {
  height: 13em;
  width: 25em;
  margin-left: 2%;
  z-index: 7;
  border: 5px solid gray;
  position: absolute;

  @include mobile {
    height: 101px;
    width: 177px;
    margin-left: 4%;
    margin-top: 24%;
    z-index: 7;
    position: absolute;
    border: none;
  }
}

.mid-line {
  height: 2000px;
  width: 3px;
  background-color: gray;
  position: absolute;
  margin-left: 50%;
  z-index: 7;

  @include mobile {
    height: 1000px;
    background-color: gray;
    margin-top: 23%;
  }
}


.img-row {
}

.image-box {
  width: 1000px;
  margin-left: 48%;
  margin-top: 35%;
  z-index: 7;

  @include mobile {
    width: 50%;
    height: 50%;
    margin-left: 50%;
    margin-top: 68%;
  }
}

.example-image {
  width: 25rem;
  border-radius: 4px;

  @include mobile {
    width: 8rem;
  }
}

.filler-box {
  width: 25em;
  height: 13em;
  margin-top: 8%;
  margin-left: 2%;
  background-color: gray;
  z-index: 8;
  position: absolute;
}
