.trailer-image-group {
  height: 2000px;
  width: 100%;
  background-color: black;
  margin-top: 56%;
  position: absolute;

  @include mobile {
    height: 625px;
  }
}

.video-box {
  height: 10%;
  width: 40%;
  margin-left: 5%;
  z-index: 7;
  margin-top: 24%;

  border: 1px solid gray;
  position: absolute;

  @include mobile {
    margin-top: 29%;
  }
}

.mid-line {
  height: 2000px;
  width: 3px;
  background-color: gray;
  position: absolute;
  margin-left: 50%;
  z-index: 7;

  @include mobile {
    height: 90%;
    background-color: gray;
    margin-top: 23%;
  }
}


.img-row {
}

.image-box {
  width: 1000px;
  margin-left: 48%;
  margin-top: 35%;
  z-index: 7;

  @include mobile {
    width: 50%;
    height: 50%;
    margin-left: 50%;
    margin-top: 68%;
  }
}

.example-image {
  width: 25rem;
  border-radius: 4px;

  @include mobile {
    width: 59px;
  }
}

.filler-box {
  width: 25em;
  height: 13em;
  margin-top: 8%;
  margin-left: 2%;
  background-color: gray;
  z-index: 8;
  position: absolute;

  @include mobile {
    height: 10%;
    width: 42%;
    margin-top: -23%;
    margin-left: 4%;
  }
}
