@import "bootstrap";

$font-stack: Helvetica, sans-serif;
/*** MAJOR TAGS ***/

body {
  background-color: #2a37b1;
  font: $font-stack;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/*** CLASSES ***/

.clear {
  clear:both;
}

.game-description {
  color: white;
}

.jumbotron {
  width: 100%
}

.nav-options {
  color: #25aae1;
}

.example-image-link {
  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #fff;
  line-height: 0;
  border-radius: 4px;
  transition: background-color 0.5s ease-out;
}

.example-image {
  width: 25rem;
  border-radius: 4px;
}

/*** IDS ***/


/*** LOGO ***/

.main-logo, .character-logo {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.character-logo {
  width: 55%;
}

/*** MAIN CONTENT ***/

.navigation-bar {
  height: 40px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.navigation-bar > button {
  background-color: black;
  color: #2A37B1;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding-top: 6px;
  flex: 2;
}


.nav-links {
}

.main-content {
  border: 2px solid #2a37b1;
  color: white;
  background: black;
  height: 100%;
  width: 67%;
  margin: 0 auto;
  z-index: 1;
}

/*** FOOTER ***/

.footer {
  bottom: 0;
}

/*** LAYERED HEADER ***/

.six-layer-test {
  width: 100%;
  height: 500px;
  background-image: url(/assets/images/skyremnant_logo_mid.png), url(/assets/images/header_ship_firstdraft.png), url(/assets/images/header_midclouds.png), url(/assets/images/header_landloop.png), url(/assets/images/header_backclouds.png), url(/assets/images/header_sky.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 27%, 17%, 400%, 200%, 200%, 117%;
  background-position: center 24px, 990px 275px, center, bottom center, bottom center, center;
}
