<div class="navigation-bar">
  <button class="btn"> {{#link-to "landing"}} GENOME STUDIOS {{/link-to}} </button>

  <button class="btn"> {{#link-to "landing"}} OUR GAME: SKY REMNANT {{/link-to}} </button>

  <button class="btn"> <a href="https://skyremnant.wordpress.com/"> DEVELOPMENT BLOG </a> </button>

</div>

<div class="container">
  {{outlet}}
</div>
