<div class="header-group">
  <div id="cloud-loop"> </div>

  <div>
    <img class="remnant-background" src="/assets/fresh/remnantbg.png">
  </div>

  <div>
    <img class="main-logo" src="/assets/images/LOGO75percent.png">
  </div>

  <div>
    <img class="crew-header" src="/assets/fresh/newcrew.png">
    <h1 class="tagline"> TAGLINE TO BE DECIDED... </h1>
  </div>
</div>

<div class="trailer-image-group">
  <div class="mid-line" />

  <div>
    <iframe class="video-box" src="https://www.youtube.com/embed/UCX299HKp_w" frameborder="0" allowfullscreen> </iframe>
  </div>

  <div class="image-box">
    <div class='img-row text-center'>
      <a class='example-image-link' href="/assets/images/airship_daytime.png" data-lightbox="airship-daytime">
        <img class="example-image" src="/assets/images/airship_daytime.png">
      </a>

      <a class='example-image-link' href="/assets/images/character_profile.png" data-lightbox="character-profile">
        <img class="example-image" src="/assets/images/character_profile.png">
      </a>

      <a class='example-image-link' href="/assets/images/node_travel.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/node_travel.png">
      </a>

      <a class='example-image-link' href="/assets/images/baby_remnant.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/baby_remnant.png">
      </a>

      <a class='example-image-link' href="/assets/images/rax.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/rax.png">
      </a>

      <a class='example-image-link' href="/assets/images/reputation.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/reputation.png">
      </a>

      <a class='example-image-link' href="/assets/images/skilltree.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/skilltree.png">
      </a>

      <a class='example-image-link' href="/assets/images/worldmap_new.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/worldmap_new.png">
      </a>

    </div>
  </div>


  <div class="filler-box">
  </div>

  <div class="black-trianngle" />

  <div class="link-ships">
    <a href="https://skyremnant.wordpress.com/"> <img class="link-ship-image link-ship-image--far-left" src="/assets/fresh/linkship1.png"> </a>
    <a href="https://twitter.com/bleufonte"> <img class="link-ship-image link-ship-image--mid-left" src="/assets/fresh/linkship2.png"> </a>
    <a href="https://twitter.com/fdsero"> <img class="link-ship-image link-ship-image--mid-right" src="/assets/fresh/linkship3.png"> </a>
    <a href="http://esoarcadia.org/wiki/Vyse"> <img class="link-ship-image link-ship-image--far-right" src="/assets/fresh/linkship4.png"> </a>


  </div>

</div>

{{outlet}}
