<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 game-description">
      <h3> THE GAME </h3>
      <p> Gurren Lagann takes place in a future where Earth is ruled by the Spiral King, Lordgenome, who forces mankind to live in isolated subterranean villages.
        These villages have no contact with the surface world or other villages and are under constant threat of earthquakes.
        Selected villagers called diggers are conscripted to expand their homes deeper underground.
        Simon, a meek young digger ostracized by his peers, finds solace in his best friend and older brother figure, an eccentric delinquent named Kamina.
        Kamina encourages Simon to join his gang, Team Gurren, to help him achieve his dream of visiting the surface world.
      </p>
    </div>

    <div class="col-md-3">
      <iframe width="640" height="480"
        src="https://www.youtube.com/embed/UCX299HKp_w" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>


<h2 class="game-description text-center"> SCREEN SHOTS </h2>

<div class='img-row text-center'>
  <a class='example-image-link' href="/assets/images/airship_daytime.png" data-lightbox="airship-daytime">
    <img class="example-image" src="/assets/images/airship_daytime.png">
  </a>

  <a class='example-image-link' href="/assets/images/character_profile.png" data-lightbox="character-profile">
    <img class="example-image" src="/assets/images/character_profile.png">
  </a>

  <a class='example-image-link' href="/assets/images/node_travel.png" data-lightbox="node-travel">
    <img class="example-image" src="/assets/images/node_travel.png">
  </a>

  <a class='example-image-link' href="/assets/images/baby_remnant.png" data-lightbox="node-travel">
    <img class="example-image" src="/assets/images/baby_remnant.png">
  </a>

  <a class='example-image-link' href="/assets/images/rax.png" data-lightbox="node-travel">
    <img class="example-image" src="/assets/images/rax.png">
  </a>

  <a class='example-image-link' href="/assets/images/reputation.png" data-lightbox="node-travel">
    <img class="example-image" src="/assets/images/reputation.png">
  </a>

  <a class='example-image-link' href="/assets/images/skilltree.png" data-lightbox="node-travel">
    <img class="example-image" src="/assets/images/skilltree.png">
  </a>

  <a class='example-image-link' href="/assets/images/worldmap_new.png" data-lightbox="node-travel">
    <img class="example-image" src="/assets/images/worldmap_new.png">
  </a>

</div>
