<div class="container text-center">
  <h1> Beautiful Airship Battles </h1>
    <img src="/assets/images/airship_daytime.png">
  <h1> Character Profiles </h1>
    <img src="/assets/images/character_profile.png">
  <h1> Expansive World Map </h1>
    <img src="/assets/images/node_travel.png">
</div>
