<div class='img-row'>
  <a class='example-image-link' href="/assets/images/airship_daytime.png" data-lightbox="airship-daytime">
    <img class="example-image" src="/assets/images/airship_daytime.png">
  </a>

  <a class='example-image-link' href="/assets/images/character_profile.png" data-lightbox="character-profile">
    <img class="example-image" src="/assets/images/character_profile.png">
  </a>

  <a class='example-image-link' href="/assets/images/node_travel.png" data-lightbox="node-travel">
    <img class="example-image" src="/assets/images/node_travel.png">
  </a>

</div>
