<div class="jumbotron" id="awan">
  <div class="container">

    <div id="main_logo">
      <img src='/assets/images/skyremnant_logo_mid.png'>
    </div>

    <div id="header_ship">
      <img src='/assets/images/header_ship_firstdraft.png'>
    </div>

  </div>
</div>
