<div class="container text-center">
  <div class="main-logo">
    <img src="/assets/images/LOGOfirstpass.png" class="main-logo">
    <img src="/assets/images/CREWfirstpass.png" class="main-logo">
  </div>

  <div class="main-content">
    <h1> STEP INTO THE AETHER </h1>

    <p> Gurren Lagann takes place in a future where Earth is ruled by the Spiral King, Lordgenome, who forces mankind to live in isolated subterranean villages.
      These villages have no contact with the surface world or other villages and are under constant threat of earthquakes.
      Selected villagers called diggers are conscripted to expand their homes deeper underground.
      Simon, a meek young digger ostracized by his peers, finds solace in his best friend and older brother figure, an eccentric delinquent named Kamina.
      Kamina encourages Simon to join his gang, Team Gurren, to help him achieve his dream of visiting the surface world.
    </p>

    <div class="col-md-3">
      <iframe width="600" height="450"
        src="https://www.youtube.com/embed/UCX299HKp_w" frameborder="0" allowfullscreen>
      </iframe>
    </div>

    <h1 class="clear"> Feature 1 is amazing </h1>
    <h1 class="clear"> Feature 2 is sweet </h1>
    <h1 class="clear"> Feature 3 is magnifcent </h1>


    <div class="clear">

      <h1> SCREENSHOTS </h1>

      <a class='example-image-link' href="/assets/images/airship_daytime.png" data-lightbox="airship-daytime">
        <img class="example-image" src="/assets/images/airship_daytime.png">
      </a>

      <a class='example-image-link' href="/assets/images/character_profile.png" data-lightbox="character-profile">
        <img class="example-image" src="/assets/images/character_profile.png">
      </a>

      <a class='example-image-link' href="/assets/images/node_travel.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/node_travel.png">
      </a>

      <a class='example-image-link' href="/assets/images/baby_remnant.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/baby_remnant.png">
      </a>

      <a class='example-image-link' href="/assets/images/rax.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/rax.png">
      </a>

      <a class='example-image-link' href="/assets/images/reputation.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/reputation.png">
      </a>

      <a class='example-image-link' href="/assets/images/skilltree.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/skilltree.png">
      </a>

      <a class='example-image-link' href="/assets/images/worldmap_new.png" data-lightbox="node-travel">
        <img class="example-image" src="/assets/images/worldmap_new.png">
      </a>

    </div>

    <div class="links-group">
    </div>

  </div>

  <div class="footer text-center">

    <a href="https://twitter.com/fdsero">
      <img src='/assets/images/Twitter_Logo_Blue.png' style="width: 10%;">
    </a>

    <a href="https://www.kickstarter.com">
      <img src='/assets/images/kickstarter-logo.png' style="width: 10%">
    </a>

    <a href="http://kotaku.com/">
      <img src='/assets/images/skyremnant_logo_mid.png' style="width: 15%">
    </a>

    <h2 style="color: white;"> Footer Placeholder </h2>
  </div>

</div>
