<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sky Remnant Logo</a>


      <!-- <a href="default.asp">
  <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
</a> -->

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <div class="navbar-inner">
        <ul class="nav navbar-nav">

          <li><a href="#">Info</a></li>
          <li><a href="#">Screenshots</a></li>
          <li><a href="#">Video</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Teppelin Tower Studios <span class="caret"></span></a>

            <ul class="dropdown-menu">
              <li><a href="#"></a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Devlog</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Support</a></li>

              <li role="separator" class="divider"></li>
              <li><a href="#">Contact Us</a></li>

            </ul>

          </li>
        </ul>
      </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
